/*empty*/
.create_post{
    position: absolute;
    right: 225px;
    bottom:5px;
    margin-bottom: 5px;
    width: 50px;
    background-color:rgba(30,144,255, 0.5);
}

.edit_post{
    position: absolute;
    
    right: 125px;
    bottom:5px;
    margin-bottom: 5px;
    width: 50px;
    background-color:rgba(30,144,255, 0.5);
}
.deletePost{
    position: absolute;
    right: 25px;
    bottom:5px;
    margin-bottom: 5px;
   width: 50px;
    background-color:rgba(30,144,255, 0.5);
}

.my-post-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.my-post-table tr:nth-child(even) {
    background-color: #dddddd;
}

.c_mypost button{
    font-size:20px;
    margin-bottom: 5px;
    height:25px;
    width: 100px;
    background-color:rgba(30,144,255, 0.5);   
    
}
.c_mypost h1{
    color:white;
    font-size:20px;
}
.c_mypost span, label{
    color:white;
    font-size:15px;
}
input[type=text]{
    background-color : rgba(48, 151, 151, 0.5);
    color:black;
}